// All kinds of utilities for margin, padding, display, flex ...

// space variables
$space-default: 1rem;
$spaces: (
        0: 0,
        1: ($space-default * 0.25),
        2: ($space-default * 0.5),
        3: $space-default,
        4: ($space-default * 1.5),
        5: ($space-default * 3)
);

// Margin and padding
$space-properties: ("margin", "padding");

@each $prop in $space-properties {
  @each $space, $value in $spaces {
    .#{$prop}-#{$space} {
      #{$prop}: $value;
    }
    .#{$prop}-#{$space}-v,
    .#{$prop}-#{$space}-t {
      #{$prop}-top: $value;
    }

    .#{$prop}-#{$space}-v,
    .#{$prop}-#{$space}-b {
      #{$prop}-bottom: $value;
    }

    .#{$prop}-#{$space}-h,
    .#{$prop}-#{$space}-l {
      #{$prop}-left: $value;
    }

    .#{$prop}-#{$space}-h,
    .#{$prop}-#{$space}-r {
      #{$prop}-right: $value;
    }
  }
}

// Sizes

$sizes-props: ("width", "height");
$sizes: (0, 25, 50, 75, 100);

@each $prop in $sizes-props {
  @each $size in $sizes {
    .#{$prop}-#{$size} {
      #{$prop}: $size * 1%;
    }
    @if $size == 100 {
      .#{$prop}-#{$size} {
        max-#{$prop}: $size * 1%;
      }
    }
  }
}


